{% extends "layout.html" %}
{% block body %}
<div style="padding-bottom:100px;">
    <div>
        <div class="object">
            <!-- <img src="/static/mario.png" style="max-width:10%; max-height:10%; padding-top: 70px;padding-bottom: 50px;"> -->
        </div>
    </div>
    <div class="content-container">
        <h1 class="title">Zhuyin Practicer</h1>
        <h3>ㄓˋ ㄧㄣ ㄌㄧㄢˋ ㄒㄧˊ</h3>
        <!-- <h3>注音練習</h3> -->
        <!-- <p style="opacity: 0.8;">Click the button to practice all!</p> -->
        <form action="/practice/all" method="post" id="practice-form">
            <div class="button-container">
                <button class="btn btn-primary" type="submit" name="practice--start-button">Let's Go!</button>
                <!-- <button type="button" class="btn btn-dark">Dark</button> -->
            </div>
            <br>
            <div class="select-container">
                <select name="practice-choice" class="form-select" onchange="updateFormAction()">
                    <option selected value="">Specify: </option>
                    <option value="consonants">Consonants</option>
                    <option value="vowels">Vowels</option>
                    <option value="combinations">Combinations</option>
                    <option value="hanzi">HSK 1 Hanzi</option>
                    <option value="all">Practice All</option>
                </select>
            </div>
        </form>
    </div>
</div>
<script>


</script>


{% endblock %}